.myLabelComponentInSvg {
    height: 70px;
    width: 180px;
    margin: 10px;
}
.custom-path-style {
  stroke: #44444A!important; /* Change this to your desired path color */
  stroke-width: 2px!important; /* Adjust the thickness */
}